{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="panel panel-default">
  <div class="panel-body">
      {% include "categories.html" %}
      {% include "latestItems.html" %}
  </div>
</div>  
{% endblock content %}
